#login {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login--form {
    width: 25vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}